.main-block{
    width: 600px;
    height: 600px;
    margin: 50px auto;
    border: 1px solid black;
}
.block{
    width: 75px;
    height: 75px;
    float: left;
}
.black{
    background-color: black;    
}
.white{
    background-color: white;
}